<div id="side-menu" class="col-md-3 col-sm-3 hidden-xs" data-spy="affix" data-offset-top="0">
    <div class="profile-block">
      <img src="../../../assets/imgs/jon.png" class="img-circle">
      <h4 class="profile-title">Jonny Doo <small>jonnydoo</small></h4>
    </div>

    <ul class="nav nav-pills nav-stacked">
      <li>
        <a routerLink="Overview" class="transition">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Overview
        </a>
      </li>
      <li>
        <a routerLink="audience" class="transition">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Audience
        </a>
      </li>
      <li>
        <a routerLink="jqx-grid-widget" class="transition">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          jqx-grid-widget      
          </a>
      </li>
      <li>
        <a href="#finances-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="finances-opts">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          Finances
          <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
        </a>
        <ul class="collapse list-unstyled" id="finances-opts">
          <li>
            <a href="#" class="transition">
              Incomes
            </a>
          </li>
          <li>
            <a href="#" class="transition">
              Outcomes
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="transition">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          Real time
          <span class="badge pull-right">12</span>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li>
        <a href="#projects-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="projects-opts">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          Projects
          <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
        </a>
        <ul class="collapse list-unstyled" id="projects-opts">
          <li>
            <a href="#" class="transition">
              Free ration nation
            </a>
          </li>
          <li>
            <a href="#" class="transition">
              Cats going crazy
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>