
  
.margin-top{
    margin-top: 4%;
    
}
#main {
    padding-top: 7.2rem;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
  }
  .row{
    margin-right: 15px;
  }
