<div class="gridster-height">
  <gridster [options]="options">
    <gridster-item [item]="item1">
      <app-overall-analysis></app-overall-analysis>
    </gridster-item>
    <gridster-item [item]="item2">
        <app-quick-stats></app-quick-stats>
    </gridster-item>
    <gridster-item [item]="item3">
      <app-performance-evaluation></app-performance-evaluation>
    </gridster-item>
    <gridster-item [item]="item4">
        <app-daily-usage></app-daily-usage>
    </gridster-item>
    <gridster-item [item]="item5">
        <app-real-time-info></app-real-time-info>
    </gridster-item>
    <gridster-item [item]="item6">
        <app-ration-stock-info></app-ration-stock-info>
    </gridster-item>
  </gridster>
</div>
