<div id="carousel-notification" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
     <div class="positions">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="../../assets/imgs/doge.jpg" width="512">
              <div class="carousel-caption">
                <h3>Doge said:</h3>
                <p>What are you doing? So scare. It's alright now.</p>
              </div>
            </div>
            <div class="item">
              <img src="../../assets/imgs/cat.jpg" width="512">
              <div class="carousel-caption">
                <h3>Crazy cat said:</h3>
                <p>I will never forgive you...</p>
              </div>
            </div>
            <div class="item">
              <img src="../../assets/imgs/laika.jpg" width="512">
              <div class="carousel-caption">
                <h3>Laika said:</h3>
                <p>Hey! How are you?</p>
              </div>
            </div>
          </div>
      
          <!-- Indicators -->
          <ol class="carousel-indicators" >
            <li data-target="#carousel-notification" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-notification" data-slide-to="1"></li>
            <li data-target="#carousel-notification" data-slide-to="2"></li>
          </ol>
      
          <!-- Controls -->
           <div class="car-pos">
            <a class="left carousel-control" href="#carousel-notification" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-notification" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
           </div>
       
        </div>
     </div>
    


<div class="container">
    <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-3 side" id="content-spy">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                  <a routerLink="lorem" routerLinkActive="bg-primary text-white">The Lorem</a>
                </li>
                <li role="presentation">
                  <a routerLink="eros" routerLinkActive="bg-primary text-white">The Eros</a>
                </li>
                <li role="presentation">
                  <a routerLink="vestibulum" routerLinkActive="bg-primary text-white">The Vestibulum</a>
                </li>
              </ul>
            </div>
            <div id="content" class="col-sm-9" data-spy="scroll" data-target="#content-spy">
                <div id="lorem">
                  <h2>The Lorem</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit enim eu sodales feugiat. In dignissim ultrices lectus et feugiat. Mauris interdum massa quis enim faucibus, id suscipit urna egestas. Cras nibh urna, blandit mattis auctor sed, tristique sed urna. Donec sed enim dignissim, volutpat tellus eget, semper mauris. Praesent eu congue risus. Curabitur euismod, eros in placerat commodo, dolor quam sagittis elit, convallis mollis lorem leo vitae odio. Integer sagittis urna sed tellus commodo consectetur. Sed molestie malesuada risus id ultricies. Fusce gravida hendrerit felis, quis cursus odio elementum sit amet. Integer efficitur velit at mauris convallis cursus.
                  </p>
                </div>
                <div id="eros">
                  <h2>The Eros</h2>
                  <p>
                    Curabitur eget pharetra risus, ac bibendum magna. Pellentesque dapibus ipsum a metus feugiat, ac rutrum quam pretium. Morbi scelerisque, elit in tincidunt vehicula, sem nulla condimentum dui, vitae sollicitudin tellus ligula ut justo. Proin consequat at velit sed lacinia. Nunc ac tellus molestie, consequat odio vel, tristique felis. Aliquam porttitor, justo ac aliquet vehicula, erat quam dictum est, nec facilisis mi ligula ut purus. Donec viverra mauris metus, aliquet porta quam vulputate quis. Sed bibendum tortor tortor, et malesuada lectus faucibus at. Proin lectus elit, congue eu dapibus ac, maximus commodo nunc. Vestibulum nunc augue, scelerisque sed augue at, viverra pellentesque magna. In non mauris id justo vehicula congue ultrices at ante. Nulla in ipsum diam. Nam in lacus ipsum.
                  </p>
                </div>
                <div id="vestibulum">
                  <h2>The Vestibulum</h2>
                  <p>
                    Integer eleifend consectetur est, et hendrerit arcu consequat sed. Sed lacus elit, ornare in turpis at, laoreet suscipit turpis. Vivamus scelerisque metus a sem feugiat consectetur. Nam tempus quis metus eget ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae sagittis nulla, sed porttitor leo. Duis rutrum nisi sed ex tristique euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu risus sodales, faucibus ex et, pellentesque eros. Aenean eleifend lorem a tincidunt euismod. Suspendisse tempus vel justo id vestibulum. Sed sed dui sollicitudin, condimentum ante iaculis, eleifend nulla. Etiam leo lectus, dignissim et luctus in, dignissim ac quam. Nunc sagittis viverra hendrerit. Donec vulputate, ante ac ultricies ullamcorper, urna purus bibendum lectus, in egestas nisi tellus non justo.
                    <img class="img-responsive" src="../../assets/imgs/doge.jpg">
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  

</div>
     