

.carousel-control.right {
left: 37%;}

.carousel-indicators{
left: 25%;
}
.carousel-caption{
    left: -30%;
}
.container {
    padding: 3%;
    width: 90%;
    max-height: 70vh;
    overflow: scroll;
}

